.dop-goods {
  background: #ffffff;

  .dop-goods__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .dop-goods__gift {
    background: url("../img/background-images/catalog-gift-cat-mobile.png") no-repeat;
  }

  .dop-goods__title {
    font-family: Oswald_24_normal_400__24;
    color: #000000;
  }

  .dop-goods__info-title {
    font-family: Oswald_16_normal_400__16;
    text-transform: uppercase;
    color: #222222;
  }

  .dop-goods__info span {
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
    color: #444444
  }

  .dop-goods__button {
    background: #68B738;
    pointer-events: none;
    text-decoration: none;
    font-family: Oswald_16_normal_400__20;
    text-transform: uppercase;
    color: #ffffff;
  }

  .dop-goods__gift-text {
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    color:#ffffff;
  }

}



