.form {
  background: #ffffff;
  box-sizing: border-box;
  border: 2px solid red;

  .form__wrapper {
    width: 280px;
    margin: 0 auto;
  }

  .form__header {
    box-sizing: border-box;
    border: 2px solid blue;
  }

  .form__subtitle {
    font-family: @base_font_regular;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
    color:#000000;
  }

  .form__block-name-weight-age {
    box-sizing: border-box;
    border: 2px solid blue;
    margin: 10px 0;
  }

  .form__block-target {
    box-sizing: border-box;
    border: 2px solid blue;
    margin: 10px 0;
  }

  .form__block-contacts {
    box-sizing: border-box;
    border: 2px solid blue;
    margin: 10px 0;
  }

  .form__label {
    font-family: @base_font_regular;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
    color:#444444;
  }

  .form__input {
    font-family: @base_font_regular;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
    color:#444444;
  }

  .form__block-comment {
    box-sizing: border-box;
    border: 2px solid blue;
    margin: 10px 0;
  }

  .form__legend {
    font-family: @base_font_regular;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    color:#000000;
  }

  .form__block-additionally {
    box-sizing: border-box;
    border: 2px solid blue;
    margin: 10px 0;
  }

  .form__submit {
    box-sizing: border-box;
    border: 2px solid blue;
    margin: 10px 0;
  }

  .form__submit-button input {
    width: 276px;
    height: 40px;
    background: #68B738;
    border: none;
    cursor: pointer;

    font-family: @base_font_regular;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
    color:#ffffff;
  }

  .form__submit-required-fields-text {
    font-family: @base_font_regular_second;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    color: #000000;
    text-align: center;
    margin: 10px 0;
  }

}
