.form {
  background: #ffffff;

  .form__subtitle {
    font-family: Oswald_14_normal_400__18;
    text-transform: uppercase;
    color:#000000;
  }

  .form__label {
    font-family: Oswald_16_normal_400__18;
    text-transform: uppercase;
    color:#444444;
  }

  .form__input {
    font-family: Oswald_16_normal_400__18;
    text-transform: uppercase;
    color:#444444;
  }

  .form__legend {
    font-family: Oswald_24_normal_400__26;
    color:#000000;
  }

  .form__submit {
    background: #68B738;
    font-family: Oswald_16_normal_400__20;
    text-transform: uppercase;
    color:#ffffff;
  }

  .form__required-fields-text small {
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    color: #000000;
  }

}
