.goods {
  background: #ffffff;

  .goods__list {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 2px solid blue;
  }

  .goods__card {
    border: 2px solid green;
    padding: 20px;
  }

  .goods__info-title {
    font-family: @base_font_regular;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
  }

  .goods__parametr {
    font-family: @base_font_regular_second;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    color: #444444;
  }

  .goods__value {
    font-family: @base_font_regular_second;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    color: #444444;
  }

  .goods__button {
    background: #68B738;
    text-decoration: none;

    font-family: @base_font_regular;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
  }

  .goods__info-text {
    font-family: @base_font_regular_second;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    color: #444444;
  }

  .goods__button-show-all {
    background: #f2f2f2;
    text-decoration: none;

    font-family: @base_font_regular;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
    color: #444444;
  }

}
