.how-it-works {
  background: #ffffff;

  .how-it-works__title {
    font-family: Oswald_36_normal_400__40;
    color: #000000;
  }

  .how-it-works__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .how-it-works__item {
    display: flex;
    margin-top: 9px;
  }


  .how-it-works__item-description {
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    color:#444444;

    margin-top: 3px;
    margin-left: 20px;
  }

}
