.live-example {
  background: #eaeaea;

  .live-example__title {
    font-family: Oswald_36_normal_400__40;
    color:#000000;
  }

  .live-example__text {
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    color:#444444;
  }

  .live-example__number {
    font-family: Oswald_24_normal_400__24;
    color:#000000;
  }

  .live-example__description {
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 12px;
    color:#444444;
  }

  .live-example__subtitle {
    font-family: Oswald_14_normal_400__20;
    text-transform: uppercase;
    color: #000000;
  }

}
