.live-example {
  background: #eaeaea;
  border: 2px solid blue;

  .live-example__wrapper {
    width: 280px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 30px;
  }

  .live-example__list {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
  }

  .live-example__item {
    width: 124px;
    height: 56px;
    box-sizing: border-box;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
  }

  .live-example__title {
    font-family: @base_font_regular;
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    letter-spacing: 0em;
    color:#000000;
  }

  .live-example__text {
    font-family: @base_font_regular_second;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    color:#444444;
  }

  .live-example__number {
    font-family: @base_font_regular;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color:#000000;
    margin-top: 15px;
  }

  .live-example__description {
    width: 87px;
    position: relative;
    top: -15px;
    left: 18px;

    background: #eaeaea;

    font-family: @base_font_regular_second;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 12px;
    color:#444444;

    text-align: center;
  }

  .live-example__subtitle {
    font-family: @base_font_regular;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;

    padding-top: 25px;
  }

}
