.main-nav {
  background: #ffffff;

  .main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .main-nav__item  a {
    font-family: Oswald_20_normal_500;
    text-decoration: none;
    text-transform: uppercase;
    color:#000000;
  }

}
