.page-header {
  background: #ffffff;
  border: 2px solid red;

  .page-header__wrapper {
    display: flex;
    width: 280px;
    height: 38px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: space-between;
  }

  .page-header__logo-1-link {
    text-decoration: none;
  }

  .page-header__logo-2-link {
    text-decoration: none;
  }

  .page-header__toggle--visible-none {
    display: none;
  }


}

.page-header--border {
  border-bottom: 1px solid #D9D9D9;
}
