.page-main {
  background: #ffffff;
  border: 2px solid red;

  .page-main__title {
    font-family: @base_font_regular;
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;

    width: 249px;
    height: 72px;
    margin: 0 auto;
    padding-top: 17px;
  }

  .page-main__title--color {
    color: #FFFFFF;
  }



}
