.page-footer {
  background: #ffffff;

  .page-footer__contacts {
    background: #ffffff;
  }

  .page-footer__contacts--background-color {
    background: #f2f2f2;
  }

  .page-footer__contacts-title {
    font-family: Oswald_16_normal_400__20;
    text-transform: uppercase;
    color: #111111;
  }

  .page-footer__contacts-text {
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    color: #444444;
  }

  .page-footer__contacts-maps {
    background: #ffffff;
  }

  .page-footer__aside  {
    background: #f2f2f2;
  }

  .page-footer__social-item {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline;
  }

  .page-footer__social-link {
    text-decoration: none;
  }

  .page-footer__copyright-link-text a {
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    color: #444444;
  }

}



