.page-main {
  background: #ffffff;
  border: 2px solid red;

  .page-main__title {
    font-family: Oswald_36_normal_400__36;
    margin: 0 auto;
    padding-top: 17px;
    width: 249px;
    height: 72px;
    text-align: center;
  }

  .page-main__title--color {
    color: #FFFFFF;
  }



}
