.page-main {
  background: #ffffff;

  .page-main__wrapper {
    width: 280px;
    margin: 0 auto;
  }

  .page-main__title {
    font-family: @base_font_regular;
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;

    position: relative;
    z-index: 10;
    width: 249px;
    height: 72px;
    margin: 0 auto;
    padding-top: 17px;
    top: -295px;
  }

  .page-main__title--color {
    color: #FFFFFF;
  }

  .page-main__title--form-and-catalog {
    width: 260px;
    top: 0px;
    margin: 0;
    text-align: left;
    color: #000000;
  }


  /****************************************** Планшетный режим ****************************/

  @media ( min-width: @tablet-width ) {
    .page-main__wrapper {
      width: 708px;
    }

    .page-main__title {
      position: static;
      min-width: 414px;
      height: 120px;
      text-align: left;
      margin-left: 110px;
      margin-top: 10px;

      font-family: @base_font_regular;
      font-size: 60px;
      font-style: normal;
      font-weight: normal;
      line-height: 60px;
    }

    .page-main__title--color {
      color: #000000;
    }

    .page-main__title--form-and-catalog {
      width: 440px;
      margin: 0;
      margin-top: 20px;
    }

  }


  /****************************************** Десктопный режим ****************************/

  @media ( min-width: @desctop-width ) {
    .page-main__wrapper {
      width: 1220px;
    }

    .page-main__title {
      position: relative;
      top: -470px;
      left: -635px;
    }

    .page-main__title--form-and-catalog {
      position: static;
    }

  }

}
