.page {
  background: #E5E5E5;

  .page__body {
    width: 320px;
    margin: 0 auto;
    background: #ffffff;
  }


  /* Изменение ширины страницы  для планшетной версии */
  @media ( min-width: @tablet-width ) {
    .page__body {
      width: 768px;

    }
  }




}

