.page-footer {
  background: #ffffff;
  border: 2px solid red;

  .page-footer__contacts {
    background: #ffffff;
    border: 2px solid blue;
  }

  .page-footer__contacts-wrapper {
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin: 0 auto;
    padding: 10px 0;
  }

  .page-footer__contacts--background {
    background: #f2f2f2;
  }

  .page-footer__contacts-title {
    font-family: Oswald_16_normal_400__20;
    text-transform: uppercase;
    color: #111111;
  }

  .page-footer__contacts-text {
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    color: #444444;
  }

  .page-footer__contacts-maps {
    //margin-bottom: -4px;
    border: 2px solid blue;
  }

  .page-footer__aside  {
    background: #f2f2f2;
    border: 2px solid blue;
  }

  .page-footer__aside-wrapper {
    width: 280px;
    margin: 0 auto;
  }

   .page-footer__logo {
     padding: 39px 0;
     text-align: center;
     border-bottom: 1px solid #D9D9D9;
  }

   .page-footer__social {
    display: flex;
    padding: 20px 0;
    justify-content: center;
    align-self: center;
    border-bottom: 1px solid #D9D9D9;
  }

   .page-footer__social-list {
    display: flex;
    width: 140px;
    height: 20px;
    align-self: center;
    justify-content: space-between;
  }

   .page-footer__social-item-vk {
    height: 13px;
  }

   .page-footer__social-item-instagram {
    height: 16px;
  }

   .page-footer__social-item-facebook {
    height: 18px;
  }

  .page-footer__social-link {
    text-decoration: none;
  }

  .page-footer__copyright {
    display: flex;
    align-self: center;
    justify-content: space-between;
    padding: 20px 0;
  }

  .page-footer__copyright-link-text {
    display: flex;
    align-self: center;
  }

  .page-footer__copyright-link-text a {
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    color: #444444;
  }

}



