.programs {
  background: #5f5eb6;

  .programs__list {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #ffffff;
  }

  .programs__item {
    background: #F2F2F2;
  }

  .programs__title-text {
    font-family: Oswald_24_normal_400;
    text-transform: uppercase;
    color: #000000;
  }

  .programs__description p {
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
  }

  .programs__link {
    font-family: Oswald_16_normal_400;
    text-transform: uppercase;
    color: #000000;
  }

  .programs__link a {
    text-decoration: none;
  }

}
