.promo {
  background: #FFFFFF;
  border: 2px solid blue;

  .promo__wrapper {
    width: 280px;
    margin: 0 auto;
  }

  .promo__header {
    width: 320px;
    height: 302px;
    margin-left: -20px;

    background-blend-mode: multiply;
    background-position: center;
    background-image: url("../img/background-images/index-cat-background.png");
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(60, 200, 30, 0.85); //  rgba(104, 183, 56, 0.85);
  }

  .promo__subtitle {
    font-family: @base_font_regular;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
  }

  .promo__image {
    position: relative;
    text-align: center;
    margin-top: -140px;
  }

  .promo__button a {
    text-decoration: none;

    display: flex;
    width: 280px;
    height: 40px;
    background: #68B738;
    align-items: center;
    justify-content: center;

    font-family: @base_font_regular;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  // Планшетный режим
  @media ( min-width: @tablet-width ) {

    .promo__header {
      background-image: none;
      background-color: #FFFFFF;
    }

    .promo__subtitle {
      color: #000000;

    }

  }

}
