.promo {
  background: url("background-images/index-background.png") no-repeat;

  .promo__wrapper {
    background: rgba(104, 183, 56, 0.85);
  }

  .promo__button {
    background: #68B738;
  }

  .promo__title {
    font-family: Oswald_36_normal_400;
    color: #FFFFFF;
  }

  .promo__subtitle {
    font-family: Oswald_14_normal_400;
    color: #FFFFFF;
    text-transform: uppercase;
  }

  .promo__button {
    font-family: Oswald_14_normal_400_v2;
    color: #FFFFFF;
    text-transform: uppercase;
  }

  .promo__button a {
    text-decoration: none;
    color: #FFFFFF;
  }

}






