.slider {
  background: #eaeaea;
  margin-top: 30px;

  .slider__image--before {
    margin-left: -15px;
  }

  .slider__image--after {
    display: none; // Иззображение временно скрыто
  }

  .slider__controls {
    margin-top: 20px;
  }

  .slider__controls-text {
    font-family: @base_font_regular;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
    color:#000000;
  }


  /****************************************** Планшетный режим ****************************/

  @media ( min-width: @tablet-width ) {
    .slider__image--before {
      display: block;
      width: 606px;
      height: 476px;
      margin: 0 auto;
    }

    .slider__controls {
      width: 580px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      margin-top: 10px;
    }

    .slider__controls-text {
      font-family: @base_font_regular;
      font-size: 20px;
      font-style: normal;
      font-weight: normal;
      line-height: 30px;

      display: flex;
      padding: 0px 20px;
    }

    .slider__controls-slider {
      width: 426px;
    }

  }


  /****************************************** Десктопный режим ****************************/

  @media ( min-width: @desctop-width ) {
    .slider__image--before {
      width: 680px;
      height: 530px;
    }

  }

}

// Планшетный режим
@media ( min-width: @tablet-width ) {
  .slider {
    background: none;
    margin-top: 80px;
    margin-bottom: 25px;
  }

}

// Десктопный режим
@media ( min-width: @desctop-width ) {
  .slider {
    position: relative;
    margin-top: -355px;
    margin-left: 605px;
  }

}
